<a href="https://colab.research.google.com/github/bhanupratap123/Basics/blob/master/Untitled40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list and a tuple with those numbers
#Sample data : 3, 5, 7, 23
#Output : 
#List : ['3', ' 5', ' 7', ' 23'] 
#Tuple : ('3', ' 5', ' 7', ' 23')

l = [int(x) for x in input().split(',')]
z = list(l)
t = tuple(l)
print(z)
print(t)

2,3,4,5,6
[2, 3, 4, 5, 6]
(2, 3, 4, 5, 6)

In [6]:
# Write a Python program to display the first and last colors from the following list.
color_list = ["Red","Green","White" ,"Black"]

print(color_list[0])
print(color_list[-1])

Red
Black

In [11]:
# Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. Go to the editor
#Sample value of n is 5 
#Expected Result : 615

n = int(input())
n1 = int('%s' %n)
n2 = int('%s%s' %(n,n))
n3 = int('%s%s%s' %(n,n,n))

print(n1+n2+n3)

5
615

In [12]:
#Write a Python program to print the documents (syntax, description etc.) of Python built-in function(s). 
#Sample function : abs()
#Expected Result : 
#abs(number) -> number
#Return the absolute value of the argum

print(abs.__doc__)

Return the absolute value of the argument.

In [14]:
#Write a Python program to print the calendar of a given month and year.
#Note : Use 'calendar' module. 

import calendar 
y = int(input('Enter any date:'))
m = int(input('Enter any month'))
print(calendar.month(y,m))

Enter any date:1999
Enter any month2
   February 1999
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [21]:
from datetime import date
f_time = date(2014,9,11)
t_time = date(2014,7,2)
final = f_time - t_time
print(final.days)

71

In [24]:
#. Write a Python program to get the volume of a sphere with radius 6.
pi = 3.1415
radius = 6
area = 4.0 / 3.0 * pi * radius
print(round(area,2))

25.13

In [32]:
def difference(n):
    if n <= 17:
        return 17 - n
    else:
        return (n - 17) * 2 

print(difference(22))
print(difference(14))

10
3

In [35]:
#17. Write a Python program to test whether a number is within 100 of 1000 or 2000.


if 100 in range(1000,2001):
  print(True)
else:
  print(False)

False

In [39]:
 #Write a Python program to calculate the sum of three given numbers, if the values are equal then return three times of their sum. 
a = int(input())
b = int(input())
c = int(input())

if a == b == c:
  print('The sum is:',3*a)
else:
  print('The Sum is',a+b+c)

10
0
10
The Sum is 20

In [42]:
#Write a Python program to get a new string from a given string where "Is" has been added to the front. 
#If the given string already begins with "Is" then return the string unchanged

l = input()
if 'Is' in l:
  print(l)
else:
  print('Is',l)

My name is Bhanu
Is My name is Bhanu

In [43]:
string = input()
n = int(input())

print(string*n)

Bhanu
3
Bhanu Bhanu Bhanu

In [45]:
#Write a Python Program to detect a number is odd or even

num = int(input())

if (num%2 == 0):
  print('Number is a even')
else:
  print('Number is odd')

23
Number is odd

In [57]:
#Write a Python program to count the number 4 in a given list

list1 = [int(x) for x in input().split(',')]
count = 0

for i in list1:
  if i == 4:
    count  = count + 1
return count

4

SyntaxError: ignored

In [59]:
#Write a Python program to check whether a specified value is contained in a group of values.
#Test Data : 
#3 -> [1, 5, 8, 3] : True
#-1 -> [1, 5, 8, 3] : False

n = int(input())
list = [1, 5, 8, 3]
if n in list:
  print(n,'->',list,': True')
else:
  print(n,'->',list,': False')

2
2 -> [1, 5, 8, 3] : False

In [60]:
#26. Write a Python program to create a histogram from a given list of integers
list = [2,5,1,6]
for i in list:
  print('@'*i)

@@
@@@@@
@
@@@@@@

In [65]:
# Write a Python program to concatenate all elements in a list into a string and return it.

def concate_list(list):
  result = ''
  for element in list:
    result += str(element)
  return result

print(concate_list([1,2,34,3]))

12343

In [68]:
#Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing 
#if any numbers that come after 237 in the sequence.

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
for n in numbers:
  if (n%2 == 0) & (n > 237):
    print(n)

386
462
418
344
566
978
328
758
918
412
566
826
248
866
950
626
512
892
894
742
958

In [74]:
#Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2. Go to the editor
#Test Data : 
color_list_1 = set(["White", "Black", "Red"]) 
color_list_2 = set(["Red", "Green"])
#Expected Output : 
#{'Black', 'White'}

      
print(color_list_1.difference(color_list_2))

{'White', 'Black'}

In [75]:
#Write a Python program that will accept the base and height of a triangle and compute the area.

height = int(input())
base  = int(input())

area = 0.5 * base * height
print(area)

10
5
25.0

In [0]:
#Write a Python program to compute the greatest common divisor (GCD) of two positive integers.

def GCD(X,Y):
  gcd = 1
  
  if n1 % n2 == 0:
    return n2
  
  for k in range(int(Y/2,0,-1)):
    if (x%k == 0) & (Y%k == 0):
      gcd = k
  return gcd

In [0]:
# Write a Python program to sum of three given integers. However, if two values are equal sum will be zero
 
def sum(x,y,z):
  if x == y or y == z or x == z:
    sum = 0
  else:
    sum = x + y + z
  return sum

In [93]:
#Write a Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20. 

def sum(a,b):
  sum = a + b 
  if sum in range(15,21):
    return 20 
  else:
    return sum
print(sum(10,6))

20

In [100]:
#Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5.

def sum(a,b):
  sum = a + b
  diff = a - b
  if a == b or sum == 5 or diff == 5:
    return True
  else:
    return False
sum(2,3)

True

In [104]:
# Write a Python program to add two objects if both objects are an integer type

def add_numbers(a, b):
    if not (isinstance(a, int) and isinstance(b, int)):
         raise TypeError("Inputs must be integers")
    return a + b

print(add_numbers(10, 20))

30

In [109]:
#Write a Python program to display your details like name, age, address in three different lines

def personal_detail():
  Name,Age = 'Bhanu Pratap Singh',19
  address= 'Madiwala,Bengaluru'
  print(' Name: {0}\n Age: {1}\n address:{2}'.format(Name,Age,address))
personal_detail()

 Name: Bhanu Pratap Singh
 Age: 19
 address:Madiwala,Bengaluru

In [0]:
#Write a Python program to solve (x + y) * (x + y). Go to the editor
#Test Data : x = 4, y = 3
#Expected Output : (4 + 3) ^ 2) = 49

def square(a,b):
  formulla = (a + b) **2 
  return formulla

In [112]:
#to check weather the file exist or not
import os.path
open('abc.txt', 'w')
print(os.path.isfile('abc.txt'))

True

In [113]:
#. Write a Python program to determine if a Python shell is executing in 32bit or 64bit mode on 
import struct
print(struct.calcsize("P") * 8)

64

In [114]:
#Write a Python program to get OS name, platform and release information
import platform
import os
print(os.name)
print(platform.system())
print(platform.release())

posix
Linux
4.14.79+

In [115]:
#44. Write a Python program to locate Python site-packages.
import site; 
print(site.getsitepackages())

['/usr/local/lib/python3.6/dist-packages', '/usr/lib/python3/dist-packages', '/usr/lib/python3.6/dist-packages']

In [116]:
#5. Write a python program to call an external command in Python.
from subprocess import call
call(["ls", "-l"])

0

In [118]:
 #Write a python program to get the path and name of the file that is currently executing
import os
print("Current File Name : ",os.path.realpath(__file__))

NameError: ignored